Repository payorch/connector-service, changes with the owners that .github/CODEOWNERS names for each.
All owners: @juspay/connector-service-maintainers, @juspay/connector-service-connectors, @juspay/connector-service-core, @juspay/connector-service-framework

.github/CODEOWNERS:

* @juspay/connector-service-maintainers

*.md @juspay/connector-service-maintainers
*.sh @juspay/connector-service-maintainers
LICENSE @juspay/connector-service-maintainers
.gitignore @juspay/connector-service-maintainers
Makefile @juspay/connector-service-maintainers
.github/ @juspay/connector-service-maintainers
Dockerfile @juspay/connector-service-maintainers
docker-compose.yml @juspay/connector-service-maintainers
.dockerignore @juspay/connector-service-maintainers
docs/ @juspay/connector-service-maintainers

backend/connector-integration/ @juspay/connector-service-connectors

backend/grpc-server/src/server/ @juspay/connector-service-core

backend/domain_types/ @juspay/connector-service-framework
backend/external-services/ @juspay/connector-service-framework
backend/grpc-api-types/ @juspay/connector-service-framework
backend/grpc-server/ @juspay/connector-service-framework
backend/examples/ @juspay/connector-service-framework
config/ @juspay/connector-service-framework

chore: add .gitattributes, update .gitignore and remove ignored files (#25)
  .gitattributes
  .gitignore
  backend/.DS_Store
Owners: @juspay/connector-service-maintainers

feat: add razorpay refunds flow (#22)
  backend/connector-integration/src/connectors/adyen.rs
  backend/connector-integration/src/connectors/razorpay.rs
  backend/connector-integration/src/connectors/razorpay/transformers.rs
Owners: @juspay/connector-service-connectors

feat: Add Incoming Webhooks for Refunds (#24)
  backend/connector-integration/src/connectors/adyen.rs
  backend/connector-integration/src/connectors/adyen/transformers.rs
  backend/connector-integration/src/connectors/razorpay.rs
  backend/connector-integration/src/connectors/razorpay/transformers.rs
  backend/domain_types/src/connector_types.rs
  backend/domain_types/src/types.rs
  backend/grpc-api-types/proto/payment.proto
  backend/grpc-server/src/server/payments.rs
Owners: @juspay/connector-service-connectors, @juspay/connector-service-framework

feat: Added Unit Test to Adyen (#21)
  LICENSE
  backend/connector-integration/src/connectors/adyen.rs
  backend/connector-integration/src/connectors/adyen/test.rs
Owners: @juspay/connector-service-maintainers, @juspay/connector-service-connectors

feat(framework): Added unit tests for Order and Authorization in Razorpay (#27)
  backend/connector-integration/src/connectors/razorpay.rs
  backend/connector-integration/src/connectors/razorpay/tests.rs
  backend/connector-integration/src/connectors/razorpay/transformers.rs
  backend/external-services/src/service.rs
Owners: @juspay/connector-service-connectors, @juspay/connector-service-framework

feat: added Capture L2 and L3 (Adyen) flow (#20)
  backend/connector-integration/src/connectors/adyen.rs
  backend/connector-integration/src/connectors/adyen/transformers.rs
  backend/connector-integration/src/connectors/razorpay.rs
  backend/domain_types/src/connector_flow.rs
  backend/domain_types/src/connector_types.rs
  backend/domain_types/src/types.rs
  backend/grpc-api-types/proto/payment.proto
  backend/grpc-server/src/server/payments.rs
Owners: @juspay/connector-service-connectors, @juspay/connector-service-framework

fix(connector): renamed error struct in razorpay (#29)
  backend/connector-integration/src/connectors/razorpay/transformers.rs
Owners: @juspay/connector-service-connectors

feat(headers): move connectors to headers
  backend/connector-integration/src/connectors/adyen.rs
  backend/connector-integration/src/connectors/adyen/test.rs
  backend/connector-integration/src/connectors/adyen/transformers.rs
  backend/connector-integration/src/connectors/razorpay.rs
  backend/connector-integration/src/connectors/razorpay/tests.rs
  backend/connector-integration/src/connectors/razorpay/transformers.rs
  backend/domain_types/src/connector_types.rs
  backend/domain_types/src/types.rs
  backend/grpc-api-types/proto/payment.proto
  backend/grpc-server/src/consts.rs
  backend/grpc-server/src/server/payments.rs
  backend/grpc-server/src/utils.rs
Owners: @juspay/connector-service-connectors, @juspay/connector-service-framework

feat(core): Added Void flow (L2) and Adyen Void flow (L3)
  backend/connector-integration/src/connectors/adyen.rs
  backend/connector-integration/src/connectors/adyen/test.rs
  backend/connector-integration/src/connectors/adyen/transformers.rs
  backend/connector-integration/src/connectors/razorpay.rs
  backend/connector-integration/src/connectors/razorpay/transformers.rs
  backend/domain_types/src/connector_flow.rs
  backend/domain_types/src/connector_types.rs
  backend/domain_types/src/types.rs
  backend/grpc-api-types/proto/payment.proto
  backend/grpc-server/src/server/payments.rs
Owners: @juspay/connector-service-connectors, @juspay/connector-service-framework

feat: add razorpay capture flow (#31)
  backend/connector-integration/src/connectors/razorpay.rs
  backend/connector-integration/src/connectors/razorpay/transformers.rs
Owners: @juspay/connector-service-connectors

chore: move authentication to headers
  backend/domain_types/src/types.rs
  backend/grpc-api-types/proto/payment.proto
  backend/grpc-server/src/consts.rs
  backend/grpc-server/src/server/payments.rs
  backend/grpc-server/src/utils.rs
Owners: @juspay/connector-service-framework

chore: fix merge conflict
  Cargo.toml
  examples/example-cli/Cargo.lock
  examples/example-cli/src/bin/jus.rs
  examples/example-js/src/index.ts
  examples/example-py/main.py
  examples/example-rs/Cargo.lock
  examples/example-rs/Cargo.toml
  examples/example-rs/src/main.rs
  examples/example-tui/Cargo.lock
  examples/example-tui/Cargo.toml
  examples/example-tui/src/main.rs
Owners: @juspay/connector-service-maintainers

chore: Added hs-grpc and merged connector-to-header
  backend/grpc-server/src/utils.rs
  examples/example-hs-grpc/.gitignore
  examples/example-hs-grpc/README.md
  examples/example-hs-grpc/app/Client.hs
  examples/example-hs-grpc/example-hs-grpc.cabal
  examples/example-hs-grpc/proto/payment.proto
  examples/example-rs/src/main.rs
Owners: @juspay/connector-service-framework, @juspay/connector-service-maintainers

chore: auth and connector details shifted to headers
  examples/example-py/main.py
Owners: @juspay/connector-service-maintainers

chore: auth and connector details shifted to headers in js
  examples/example-js/src/index.ts
  examples/example-rs/src/main.rs
Owners: @juspay/connector-service-maintainers

chore: auth and connector details shifted to headers in tui
  examples/example-tui/src/main.rs
Owners: @juspay/connector-service-maintainers

feat(sdk): add sdk for 3 langauges (#26)
  Cargo.lock
  Cargo.toml
  examples/example-cli/Cargo.toml
  examples/example-tui/Cargo.toml
  sdk/node-grpc-client/.gitignore
  sdk/node-grpc-client/.npmignore
  sdk/node-grpc-client/README.md
  sdk/node-grpc-client/build.sh
  sdk/node-grpc-client/package-lock.json
  sdk/node-grpc-client/package.json
  sdk/node-grpc-client/src/health_check.ts
  sdk/node-grpc-client/src/index.ts
  sdk/node-grpc-client/src/payment.ts
  sdk/node-grpc-client/tsconfig.json
  sdk/python-grpc-client/.python-version
  sdk/python-grpc-client/Makefile
  sdk/python-grpc-client/README.md
  sdk/python-grpc-client/pyproject.toml
  sdk/python-grpc-client/src/python_grpc_client/__init__.py
  sdk/python-grpc-client/src/python_grpc_client/generated/__init__.py
  sdk/python-grpc-client/src/python_grpc_client/generated/health_check_pb2.py
  sdk/python-grpc-client/src/python_grpc_client/generated/health_check_pb2.pyi
  sdk/python-grpc-client/src/python_grpc_client/generated/health_check_pb2_grpc.py
  sdk/python-grpc-client/src/python_grpc_client/generated/payment_pb2.py
  sdk/python-grpc-client/src/python_grpc_client/generated/payment_pb2.pyi
  sdk/python-grpc-client/src/python_grpc_client/generated/payment_pb2_grpc.py
  sdk/python-grpc-client/src/python_grpc_client/py.typed
  sdk/python-grpc-client/uv.lock
  sdk/rust-grpc-client/Cargo.toml
  sdk/rust-grpc-client/README.md
  sdk/rust-grpc-client/src/lib.rs
Owners: @juspay/connector-service-maintainers

tests: add support for integration tests with macros (#33)
  Cargo.lock
  backend/grpc-server/Cargo.toml
  backend/grpc-server/src/app.rs
  backend/grpc-server/tests/common.rs
  backend/grpc-server/tests/test_health.rs
Owners: @juspay/connector-service-maintainers, @juspay/connector-service-framework

chore: update the proto files
  sdk/node-grpc-client/package-lock.json
  sdk/node-grpc-client/src/payment.ts
  sdk/python-grpc-client/generated/__init__.py
  sdk/python-grpc-client/generated/health_check_pb2.py
  sdk/python-grpc-client/generated/health_check_pb2.pyi
  sdk/python-grpc-client/generated/health_check_pb2_grpc.py
  sdk/python-grpc-client/generated/payment_pb2.py
  sdk/python-grpc-client/generated/payment_pb2.pyi
  sdk/python-grpc-client/generated/payment_pb2_grpc.py
Owners: @juspay/connector-service-maintainers

Initial commit
  LICENSE
Owners: @juspay/connector-service-maintainers
